
    :root {
      --softblue: hsl(215, 51%, 70%);
      --cyan: hsl(178, 100%, 50%);
      --bluemain: hsl(217, 54%, 11%);
      --bluecard: hsl(216, 50%, 16%);
      --blueline: hsl(215, 32%, 27%);
    }

    * {
      font-family: 'Outfit', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-image: linear-gradient(hsl(218, 73%, 4%), var(--bluemain));
      background-repeat: no-repeat;
      padding: 60px 30px;
      height: 100vh;
    }

    .card {
      margin: 0 auto;
      border: 1px solid var(--blueline);
      width: 350px;
      height: 550px;
      background-image: linear-gradient(hsl(214, 68%, 7%) 50%, var(--bluecard));
      border-radius: 15px;
      padding: 20px;
      z-index: 0;
      top: -20px;
      transition: all .2s ease-in-out;
      cursor: pointer;
    }

    .card:hover {
      border: 1px solid white;
      transform: scale(1.02);
    }

    .card:hover>.img {
      border: 1px solid white;
    }

    .card:hover>.inf {
      border-bottom: 1px solid white;
    }



    .img {
      transition: all .2s ease-in-out;
      border-radius: 15px;
      background-image: url(images/image-equilibrium.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 60%;
    }

    .main-text {
      margin: 15px 0;
      color: white;
      font-size: 22px;
    }

    .descript {
      font-size: 16px;
      color: var(--softblue);
      font-weight: 300;
    }

    .inf h3 {
      margin-top: 13px;
      width: 45%;
      display: inline-block;
      font-size: 15px;
    }

    .inf h3:nth-child(1) {
      color: var(--cyan);
    }

    .inf h3:nth-child(2) {
      text-align: right;
      color: var(--softblue);
    }

    .inf {
      padding-bottom: 10px;
      border-bottom: 2px solid var(--blueline);
      position: relative;
      transition: all .2s ease-in-out;
    }

    .inf img {
      position: relative;
      bottom: -4px;
      margin-right: 5px;

    }

    .user-div {
      display: inline-block;
      position: relative;
      font-size: 14px;
      font-weight: normal;
    }

    .user-image {
      margin: 20px 15px 0 0;
      width: 35px;
      height: 35px;
      border: 1px solid white;
      border-radius: 50%;
      background-image: url(images/image-avatar.png);
      background-size: cover;
    }

    .user-div h3 {
      position: relative;
      top: -10px;
      color: var(--softblue);
      font-weight: 300;
    }

    .user-div b {
      color: white;
      font-weight: 300;
    }

    .invisible {
      z-index: 1;
      background-color: hsl(218, 73%, 4%);
      width: 100%;
      height: 10%;
      position: relative;
      top: -60px;
    }

    body,
    .card {
      position: relative;
    }

    @keyframes animacaoCard {
      from {
        top: -20px;
      }

      to {
        top: -650px;
      }
    }

    #btn {
      width: 150px;
      height: 30px;
      margin: 0 auto;
      background-color: var(--blueline);
      border: 2px solid var(--blueline);
      border-radius: 15px;
      color: white;
      cursor: pointer;
      transition: all .5s;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

    }

    #btn:hover {
      border: 1px solid white;
      width: 160px;
      transform: translateX(-50%);
    }